lxml
pytz
future
zarr
netCDF4
dask[array]
dask[delayed]
dask[distributed]
dask[dataframe]
pandas
pyarrow
xarray>=0.17.0
rechunker
numcodecs
numpy
scipy
matplotlib
psutil
debugpy
git+https://github.com/CRIMAC-WP4-Machine-learning/CRIMAC-annotationtools.git#egg=annotationtools
pyEcholab @ git+https://github.com/oyvinol/pyEcholab.git@RHT-EK80
